In [3]:
import pandas as pd

# Carregar o CSV para um DataFrame
df = pd.read_csv('books3.csv')

# Verificar os tipos das colunas
print(df.dtypes)

bookID                 int64
title                 object
authors               object
average_rating        object
isbn                  object
isbn13                object
language_code         object
num_pages             object
ratings_count          int64
text_reviews_count     int64
publication_date      object
publisher             object
Unnamed: 12           object
dtype: object

In [4]:
import pandas as pd

# Carregar o CSV para um DataFrame
df = pd.read_csv('books3.csv')

# Ordenar pelo average_rating em ordem decrescente
df_sorted = df.sort_values(by='average_rating', ascending=False)

# Imprimir title e average_rating em ordem decrescente de average_rating
print(df_sorted[['title', 'average_rating']])

                                                  title  \
4702                  The Tolkien Fan's Medieval Reader
8979  Brown's Star Atlas: Showing All The Bright Sta...
5877                     Patriots (The Coming Collapse)
3348  Streetcar Suburbs: The Process of Growth in Bo...
5025  The Complete Theory Fun Factory: Music Theory ...
...                                                 ...
1669  A Gravity's Rainbow Companion: Sources and Con...
5678  A Transatlantic Love Affair: Letters to Nelson...
8143                  The Arctic Event (Covert-One  #7)
8628  From Hinton to Hamlet: Building Bridges betwee...
1253                                 The Zanzibar Chest

                                         average_rating
4702   one of the founding members of this Tolkien w...
8979                                    Son & Ferguson
5877                                            Rawles
3348                                 Jr./Sam B. Warner
5025                                              5.00
...                                                 ...
1669                                            45.295
5678                                            45.295
8143                                            45.295
8628                                            45.295
1253                                            45.295

[11127 rows x 2 columns]